

h1 { text-align: center; }

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed #00c292;
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}