{% load static %}






<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Live Soil Data</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/meanmenu/meanmenu.min.css' %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/jvectormap/jquery-jvectormap-2.0.3.css' %}">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/notika-custom-icon.css' %}">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/wave/waves.min.css' %}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static './styleSCSS.css' %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">


    <!-- Dropzone js -->
    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <style>
        .unit::before {
            content: ' \00B0';
        }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="http://www.mmmut.ac.in/" target="_blank"><img src="{% static './logo.png' %}" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">

                            <div class="logo-area">
                                <a href="https://www.meity.gov.in/" target="_blank"><img src="{% static './logo_en.png' %}"
                                        alt="" /></a>
                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" href="#">Home</a>
                                    <ul class="collapse dropdown-header-top">
                                        <li><a href="index.html">Dashboard One</a></li>
                                        <li><a href="index-2.html">Dashboard Two</a></li>
                                        <li><a href="index-3.html">Dashboard Three</a></li>
                                        <li><a href="index-4.html">Dashboard Four</a></li>
                                        <li><a href="analytics.html">Analytics</a></li>
                                        <li><a href="widgets.html">Widgets</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demoevent" href="#">Email</a>
                                    <ul id="demoevent" class="collapse dropdown-header-top">
                                        <li><a href="inbox.html">Inbox</a></li>
                                        <li><a href="view-email.html">View Email</a></li>
                                        <li><a href="compose-email.html">Compose Email</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#democrou" href="#">Interface</a>
                                    <ul id="democrou" class="collapse dropdown-header-top">
                                        <li><a href="animations.html">Animations</a></li>
                                        <li><a href="google-map.html">Google Map</a></li>
                                        <li><a href="data-map.html">Data Maps</a></li>
                                        <li><a href="code-editor.html">Code Editor</a></li>
                                        <li><a href="image-cropper.html">Images Cropper</a></li>
                                        <li><a href="wizard.html">Wizard</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demolibra" href="#">Charts</a>
                                    <ul id="demolibra" class="collapse dropdown-header-top">
                                        <li><a href="flot-charts.html">Flot Charts</a></li>
                                        <li><a href="bar-charts.html">Bar Charts</a></li>
                                        <li><a href="line-charts.html">Line Charts</a></li>
                                        <li><a href="area-charts.html">Area Charts</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demodepart" href="#">Tables</a>
                                    <ul id="demodepart" class="collapse dropdown-header-top">
                                        <li><a href="normal-table.html">Normal Table</a></li>
                                        <li><a href="data-table.html">Data Table</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demo" href="#">Forms</a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                        <li><a href="form-elements.html">Form Elements</a></li>
                                        <li><a href="form-components.html">Form Components</a></li>
                                        <li><a href="form-examples.html">Form Examples</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">App views</a>
                                    <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                        <li><a href="notification.html">Notifications</a>
                                        </li>
                                        <li><a href="alert.html">Alerts</a>
                                        </li>
                                        <li><a href="modals.html">Modals</a>
                                        </li>
                                        <li><a href="buttons.html">Buttons</a>
                                        </li>
                                        <li><a href="tabs.html">Tabs</a>
                                        </li>
                                        <li><a href="accordion.html">Accordion</a>
                                        </li>
                                        <li><a href="dialog.html">Dialogs</a>
                                        </li>
                                        <li><a href="popovers.html">Popovers</a>
                                        </li>
                                        <li><a href="tooltips.html">Tooltips</a>
                                        </li>
                                        <li><a href="dropdown.html">Dropdowns</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages</a>
                                    <ul id="Pagemob" class="collapse dropdown-header-top">
                                        <li><a href="contact.html">Contact</a>
                                        </li>
                                        <li><a href="invoice.html">Invoice</a>
                                        </li>
                                        <li><a href="typography.html">Typography</a>
                                        </li>
                                        <li><a href="color.html">Color</a>
                                        </li>
                                        <li><a href="login-register.html">Login Register</a>
                                        </li>
                                        <li><a href="404.html">404 Page</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <!-- Main Menu area End-->
    <!-- Start Status area -->
    <!-- End Status area-->
    <!-- Start Sale Statistic area-->

    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li class="active"><a href="#soil-data"><i class="notika-icon notika-bar-chart"></i>
                                Analytics</a>
                        </li>
                        <li><a href="/tomato-area"><i class="notika-icon notika-edit"></i> Tomato
                                Detection </a>
                        </li>
                        </li>
                        <li><a data-toggle="tab" href="#Charts"><i class="notika-icon notika-bar-chart"></i>Live
                                Detection</a>
                        </li>
                        <li><a data-toggle="tab" href="#Tables"><i class="notika-icon notika-windows"></i> Tables</a>
                        </li>
                        <li><a data-toggle="tab" href="#Forms"><i class="notika-icon notika-form"></i> Live Dataset</a>
                        </li>
                        <li><a data-toggle="tab" href="#Appviews"><i class="notika-icon notika-app"></i> Drone
                                Supervision</a>
                        </li>
                        <li><a data-toggle="tab" href="#Page"><i class="notika-icon notika-support"></i> Auth</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-house"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Analytics</h2>
                                        <p>IoT and Drone based Agriculture Monitoring System with Objective of Skill
                                            Development of Socially Deprived Community</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                                <div class="breadcomb-report">
                                    <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                        class="btn"><i class="notika-icon notika-sent"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Breadcomb area End-->
    <!-- Server time start-->
    <div class="visitor-sv-tm-area">

        <div class="notika-status-area">
            <div class="container" style="margin-bottom: 40px;">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                            <div class="website-traffic-ctn">
                                <h2><span class="counter" id="moisture_of_soil">14</span> %</h2>
                                <p style="text-transform: capitalize;">moisture of soil</p>
                            </div>
                            <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                            <div class="website-traffic-ctn">
                                <h2><span class="counter" id="temp_in_environment">23 </span><span class="unit"></span>c
                                </h2>
                                <p style="text-transform: capitalize;">Temp in environment</p>
                            </div>
                            <div class="sparkline-bar-stats2">1,4,8,3,5,6,4,8,3,3,9,5</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                            <div class="website-traffic-ctn">
                                <h2><span class="counter" id="PH_of_soil">8</span> b/w</h2>
                                <p >pH of soil</p>
                            </div>
                            <div class="sparkline-bar-stats3">4,2,8,2,5,6,3,8,3,5,9,5</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                            <div class="website-traffic-ctn">
                                <h2><span class="counter" id="temperature_of_soil">45</span><span class="unit"></span>c
                                </h2>
                                <p style="text-transform: capitalize;">Temperature of soil</p>
                            </div>
                            <div class="sparkline-bar-stats4">2,4,8,4,5,7,4,7,3,5,7,5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="visitor-sv-tm-int sm-res-mg-t-30">
                        <div class="contact-hd mg-bt-ant-inner server-sts-rgt">
                            <h2><span style="color: #00c292" id="humidity_in_environment">14 </span> %</h2>
                            <p style="font-weight: bold;">Humidity in environment</p>
                        </div>
                        <div class="visitor-st-ch">
                            <div id="dynamic-chart" class="flot-chart widget-dynamic-chart ant-ctn-dyn"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="visitor-sv-tm-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-ds-n dk-res-ds">
                        <div class="contact-hd mg-bt-ant-inner">
                            <h2><span style="color: #00c292" id="light_intensity_in_environment">14 </span> lux</h2>
                            <p style="font-weight: bold;">Light Intensity in Environment</p>
                        </div>
                        <div class="visitor-st-ch visitor-ov-ct">
                            <div id="visit-over-time" class="flot-chart"></div>
                            <div class="flc-visits"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="email-statis-inner notika-shadow">
                        <div class="email-ctn-round">
                            <div class="email-rdn-hd">
                                <h2>Overall Statistics (% Increased)</h2>
                            </div>
                            <div class="email-statis-wrap">
                                <div class="email-round-nock" class="unit">
                                    <input type="text" class="knob " value="0" data-rel="55" data-linecap="round"
                                        data-width="130" data-bgcolor="#E4E4E4" data-fgcolor="#00c292"
                                        data-thickness=".10" data-readonly="true">
                                </div>
                                <div class="email-ctn-nock">
                                    <p>Temperature</p>
                                </div>
                            </div>
                            <div class="email-round-gp">
                                <div class="email-round-pro">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="75" data-linecap="round"
                                            data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292"
                                            data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Soil Moisture</p>
                                    </div>
                                </div>
                                <div class="email-round-pro">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="35" data-linecap="round"
                                            data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292"
                                            data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Soil pH </p>
                                    </div>
                                </div>
                                <div class="email-round-pro sm-res-ds-n lg-res-mg-bl">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="45" data-linecap="round"
                                            data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292"
                                            data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>light Intensity</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Server time End-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2020
                            . All rights reserved. Developed by <a href="http://excain.com">Excain</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- End Footer area-->


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-database.js"></script>
    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyAImMSML9OjJ9GeBGC59PG4hx0iICxze7o",
            authDomain: "agriculture-mmmut.firebaseapp.com",
            databaseURL: "https://agriculture-mmmut.firebaseio.com",
            projectId: "agriculture-mmmut",
            storageBucket: "agriculture-mmmut.appspot.com",
            messagingSenderId: "965539848054",
            appId: "1:965539848054:web:7a8229834f6341fb20e457",
            measurementId: "G-0LNF3225JM"
        };


        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
    <script>
        moisture_of_soil = document.getElementById("moisture_of_soil")
        temp_in_environment = document.getElementById("temp_in_environment")
        PH_of_soil = document.getElementById("PH_of_soil")
        temperature_of_soil = document.getElementById("temperature_of_soil")
        humidity_in_environment = document.getElementById("humidity_in_environment")
        light_intensity_in_environment = document.getElementById("light_intensity_in_environment")


        userId = '1'
        const database = firebase.database();
        const usersRef = database.ref('/livedata');
        usersRef.child(userId).set({
            moisture_of_soil: '14',
            temp_in_environment: '15',
            PH_of_soil: '16',
            temperature_of_soil: '17',
            humidity_in_environment: '18',
            light_intensity_in_environment: '19'
        });



        usersRef.on('child_changed', snapshot => {
            console.log('Child updated !');
            usersRef.orderByKey().limitToLast(1).on('value', snapshot => {
                data = snapshot.val()
                moisture_of_soil.innerHTML = data['1']['moisture_of_soil'];
                temp_in_environment.innerHTML = data['1']['temp_in_environment'];
                PH_of_soil.innerHTML = data['1']['PH_of_soil'];
                humidity_in_environment.innerHTML = data['1']['humidity_in_environment'];
                light_intensity_in_environment.innerHTML = data['1']['light_intensity_in_environment'];
                temperature_of_soil.innerHTML = data['1']['temperature_of_soil'];
            });
        });
    </script>
    

    <!-- FIRE BASE CODE FOR REAL TIME DATABASE   END-->
    <!-- jquery
		============================================ -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- bootstrap JS
            ============================================ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- wow JS
            ============================================ -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- price-slider JS
            ============================================ -->
    <script src="{% static 'js/jquery-price-slider.js' %}"></script>
    <!-- owl.carousel JS
            ============================================ -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- scrollUp JS
            ============================================ -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- meanmenu JS
            ============================================ -->
    <script src="{% static 'js/meanmenu/jquery.meanmenu.js' %}"></script>
    <!-- counterup JS
            ============================================ -->
    <script src="{% static 'js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'js/counterup/counterup-active.js' %}"></script>
    <!-- sparkline JS
            ============================================ -->
    <script src="{% static 'js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/sparkline/sparkline-active.js' %}"></script>
    <!-- knob JS
            ============================================ -->
    <script src="{% static 'js/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'js/knob/jquery.appear.js' %}"></script>
    <script src="{% static 'js/knob/knob-active.js' %}"></script>
    <!-- mCustomScrollbar JS
            ============================================ -->
    <script src="{% static 'js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- flot JS
            ============================================ -->
    <script src="{% static 'js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/flot/analtic-flot-active.js' %}"></script>
    <!--  wave JS
            ============================================ -->
    <script src="{% static 'js/wave/waves.min.js' %}"></script>
    <script src="{% static 'js/wave/wave-active.js' %}"></script>
    <!-- plugins JS
            ============================================ -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- main JS
            ============================================ -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- tawk chat JS
            ============================================ -->
    <script src="{% static 'js/tawk-chat.js' %}"></script>





    <!-- Drop zone js  -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js'></script>
    <script src="./dropzone_script.js"></script>

</body>

</html>